# Default test config file

mkdir -p ".FirstRun"
touch ".FirstRun/.config"
# Comment out this line to turn off using development branches completely
echo 'DEV_BRANCH="development"' > ".FirstRun/.config"
# Comment out this line to turn off using the setup development branch
echo 'SETUP_BRANCH="origin/development"' >> ".FirstRun/.config"
# Comment out this line to turn off using the setup development branch
echo 'FIRSTRUN_BRANCH="origin/development"' >> ".FirstRun/.config"
